<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  Get help on the Blogger Me app at the
  <a href="https://blogger-me.herokuapp.com/help">Blogger Me help
  page</a>.
  To get help on this blogger app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
  Tutorial</em> book</a>.
</p>