<div id="main">
    <h1>Narayan Rai</h1>
    <!--<img class="selfie" src="/app/assets/images/narayan.jpg" alt="narayan"/>-->
    <div class="selfie">
        <%= image_tag("narayan.jpg", size: "100x100") %>
    </div>
    <div class="box" id="likes">
        <h3>My likes</h3>
        <ul>
            <li>Programming</li>
            <li>Reading</li>
            <li>Writing</li>
        </ul>
    </div>
    
    <div class="box" id="places">
        <h3>Top 3 places I've lived:</h3>
        <ol>
            <li>Raleigh, NC</li>
            <li>Chapel Hill, NC</li>
            <li>Durham, NC</li>
        </ol>
    </div>
    
    <div class="box" id="links">
        <h3>Links</h3>
        <ul>
            <li><a href="" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/momentumrdu?lang=en" target="_blank">Momentum Twitter</a></li>
        </ul>
    </div>
    
    <h3>Updates</h3>
    <p>HTML crash course!</p>
    <!--<p>Time.now</p>-->
    <p>Hello! This is my first article.</p>
    <p><%= Time.now %></p>

</div>