<div>
    <h5><%= comment.commenter %></h5>
    <p class="comment"><%= comment.body %></p>
    <p style= "color: red; font-size: 15px; font-style: italic;">
        posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago -
        <%= link_to 'Delete', [comment.article, comment], method: :delete,
        data: {confirm: "Are you sure you want to delete this article?"}%>
    </p><br>
</div>