<ul id="articles">
    <% @articles.reverse.each do |article| %>
        <li>
            <h3><%= link_to article.title, article_path(article), class: 'article_title', id: "article_#{article.id}" %>
                (<%= article.comments.count %> comments)
            </h3>
            
            <p style="font-style: italic; color: black;font-size: 15px">
                on <%= article.created_at.strftime("%B %d, %Y") %><br/>
                <p>
                    <%= article.body %>
                </p>
            </p><br/>
        </li>
    <% end %>
</ul>




